body{
    background-color: #151f2b;
}
.view .cell{
    height: 10px;
    width: 10px;
    border:1px solid #371f794f;
}

.view .row{
    display: flex;
}

.view .cell.dead{
    background-color: transparent;
}

.view .cell.alive{
    background-color: rgb(88, 255, 107);
}

.view .fancy-btn{
    margin: 20px 10px;
    border: none;
    background-color: #3c93ff;
    padding: 7px 13px;
    border-radius: 10px;
    color: white;
    box-shadow: 0.1rem 0.2rem 0.5rem #3c93ffbf;
    cursor: pointer;
    transition: 0.4s;
}

.view .fancy-btn:hover{
    transform: translateY(-2px);
    transition: 0.2s;
    box-shadow: 0.1rem 0.4rem 1rem #3c93ffbf;
}

.view .fancy-btn.success{
    background-color: #00d83d;
    box-shadow: 0.1rem 0.2rem 0.5rem #00d83d;
}

.view .fancy-btn.success:hover{
    box-shadow: 0.1rem 0.4rem 1rem #00d83d;
}


.view .fancy-btn.danger{
    background-color: #ff006f;
    box-shadow: 0.1rem 0.2rem 0.5rem #ff006f;
}

.view .fancy-btn.danger:hover{
    box-shadow: 0.1rem 0.4rem 1rem #ff006f;
}

.btn-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}